# secrets
env.json

# data artifacts
Data/
!Data/.gitkeep
resolution_descriptions.txt

# python junk
__pycache__/
*.pyc
.ipynb_checkpoints/

# macOS
.DS_Store

# report (temporary ignore)
DataWarehousing_Project_Report_v3.pdf